html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}
body {
    background-color: white;
    max-width:736px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0;


}
div {
    box-sizing: border-box;
}
#root {
    text-align: center;
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    padding:0;
}
li {
    margin-bottom: 20px;
}

a {
    color:black;
    text-decoration: none;
}
