@import "./../../design-tokens/scss-variables.scss";

.spot-direction {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  width:50px;
  height:50px;
  //background-color: #eee;
  position: relative;
  font-size: 8px;
  .conic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    right:10px;
    top:10px;
  }
  .n {
    position: absolute;
    right:21px;
    top:0px;
  }
  .s {
    position: absolute;
    right:23px;
    bottom:1px;
  }
  .e {
    position: absolute;
    left:4px;
    top:20px;
  }
  .w {
    position: absolute;
    right:2px;
    top:21px;
  }

}


.spot-direction-text {
  display:none;
  margin-top:20px;
  @include font-mini;
}

