@import "./../../design-tokens/scss-variables.scss";

.detail-page {
  &.showOnlyDaylight {
    .detail-hour.nolight {
      display:none;
    }
  }
}


.detail-head {
  background-color: $gray2;
  margin-bottom: 10px;
  border-bottom: solid 1px $gray3;
  .name {
    @include font-big;
  }
}

.day {
 background-color: $gray2;
  border-top: $gray3;
  color: $gray8;
  display: flex;
  justify-content: flex-start;
  @include font-mini;
  height: 20px;
  align-items: center;
  padding-left: 10px;
  border-top: 1px solid $gray3;
  .weekday {
    margin-right:10px
  }
}

.no-more-daylight {
  @include flex-row;
  @include app-padding;
  @include font-mini;
  display:none;
  font-weight: 400;
  height: 30px;
  border-top: 1px solid $gray3;
  &.active {
    display:flex;
  }
}

.detail-hour{
  background-color: white;
}
.hourly{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  border-top: 1px solid $gray3;
  @include font-small;
  @include app-padding;

  .dir svg{
    width:17px;
  }
  .part {
    @include flex-row;
  }
  .part-wind {
    width:160px;
    display: flex;
    justify-content: flex-start;
    .dir {
      width:43px;
    }
    .wind{
     margin-right: 5px;
    }
    .gust{
      display:flex;
      color: $gray6;
      @include font-small;
      margin-right: 5px;
      &.g0 {
        display:none;
      }
    }
    .unit{
      @include font-mini;
    }
  }

  //.wind-area {
  //  display: flex;
  //  justify-content: space-between;
  //  width: 120px;
  //  .wind{
  //    @include font-small;
  //    width:65px;
  //    span {
  //      font-size: 12px;
  //      font-weight: 400;
  //    }
  //  }
  //  .gust{
  //    color: $gray5;
  //    @include font-small;
  //    width: 50px;
  //  }
  //}


  .hour {
    margin-right: 10px;
  }
  .icon {
    width:30px;
    margin-right: 10px;
  }
  .temp {

  }

  .wind-bar{
    @include flex-row;
    width:100px;
    height:17px;
    border: solid 1px $gray2;
    .wind{
      height:17px;
      @include wind-colors;
    }
    .gust {
      height:17px;
      background-color: $gray3;
    }
  }

}