@import "./../../design-tokens/scss-variables.scss";

.day {
 background-color: $gray2;
  border-top: $gray3;
  color: $gray8;
  display: flex;
  justify-content: flex-start;
  @include font-mini;
  height: 20px;
  align-items: center;
  padding-left: 10px;
  border-top: 1px solid $gray3;
  .weekday {
    margin-right:10px
  }
}
.detail-hour{
  background-color: white;
}
.hourly{
  display:none;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  border-top: 1px solid $gray3;
  @include font-small;
  @include app-padding;
  &.daylight{
    display:flex;
  }
  .dir svg{
    width:17px;
  }
  .part {
    @include flex-row;
  }
  .part-wind {
    width:160px;
    display: flex;
    justify-content: flex-start;
    .dir {
      width:43px;
    }
    .wind{
     margin-right: 5px;
    }
    .gust{
      color: $gray6;
      @include font-small;
      margin-right: 5px;
    }
    .unit{
      @include font-mini;
    }
  }

  //.wind-area {
  //  display: flex;
  //  justify-content: space-between;
  //  width: 120px;
  //  .wind{
  //    @include font-small;
  //    width:65px;
  //    span {
  //      font-size: 12px;
  //      font-weight: 400;
  //    }
  //  }
  //  .gust{
  //    color: $gray5;
  //    @include font-small;
  //    width: 50px;
  //  }
  //}


  .hour {
    margin-right: 10px;
  }
  .icon {
    width:30px;
    margin-right: 10px;
  }
  .temp {
    margin-right: 15px;
  }

  .wind-bar{
    @include flex-row;
    width:100px;
    height:17px;
    border: solid 1px $gray2;
    .wind{
      height:17px;
      @include wind-colors;
    }
    .gust {
      height:17px;
      background-color: $gray3;
    }
  }

}