@import "./../../design-tokens/scss-variables.scss";

.spot {
  display: flex;
  flex-direction: column;
  .spot-head {
    @include flex-row;
    justify-content: space-between;
    height: 50px;
    background-color: $gray2;
    border-top: 2px solid $gray4;
    border-bottom: 1px solid $gray3;
    @include side-padding;
    .left {
      display: flex;
      flex-direction: row;
      align-items:center;
      .symbol {
        background-color: black;
        color:white;
        font-size: 1.4em;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include pop-shadow;
        @include wind-colors;
      }
      .name {
        font-size: 3.2em;
        font-weight: 400;
      }
    }
    .right {
      width:140px;
      @include font-small;
      @include flex-row;
      justify-content: flex-end;
      .weekday {
        margin-right:10px;
      }
    }
  }
  .spot-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height:75px;
    @include side-padding;
    @include top-bottom-padding;
    .wind-area {
      display: flex;
      width: 150px;
      justify-content: flex-start;
      .wind{
        @include font-big;
        width:60px;
      }
      .gust{
        color: $gray5;
        @include font-big;
        width:80px;
      }
    }
    .icon {
      width:50px;
    }
    .temp {
      @include font-medium;
    }

  }
}

